{% for link in linklists[menu].links %}
  <li><a href="{{ link.url }}" class="{% if link.active %}active{% endif %} {% if linklists[link.handle] != empty %}dropdown_link{% else %} top_link {% endif %}" data-dropdown-rel="{{ link.handle }}">{{ link.title }} {% if linklists[link.handle] != empty %}<span class="cgc-down-arrow"><i class="fas fa-sort-down"></i></span>{% endif %}</a></li>
{% endfor %}
